<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rate</title>

    <link rel="icon" href="./src/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./src/apple-touch-icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css">
    <link rel="stylesheet" href="./style.min.css">

    <script type="text/x-template" id="v-accordion-grid-tbody-template">
        <tbody>
            <tr class="pointer"
                @click='toggle()'>
                <td class='left'>{{ item.lv }}</td>
                <td class='left'>{{ item.version }}</td>
                <td class='left'>
                    {{ item.genre }}
                    <span class='UPPER' v-if='item.isUPPER'>(UPPER)</span>
                    <span :class='item.difficulty'>({{ item.difficulty }})</span>
                </td>
                <td class='right rate'>{{ item.pf_rate }}%</td>
                <td class='right rate'>{{ item.fc_rate }}%</td>
                <td class='right rate'>{{ item.clear_rate }}%</td>
                <td class='right rate'>{{ item.max }}</td>
                <td :class="{'-active': isOpened}">
                    <span class="icon">
                        <span class="icon-line"></span>
                        <span class="icon-line"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan='8'
                    class='no-padding'>
                    <transition name="js-accordion"
                                @before-enter="beforeEnter"
                                @enter="enter"
                                @before-leave="beforeLeave"
                                @leave="leave">
                        <div v-if='isOpened'
                             class='js-accordion-target'>
                            <canvas :id="`canvas-pie-${item.id}`"></canvas>
                            <canvas :id="`canvas-line-${item.id}`"></canvas>
                        </div>
                    </transition>        
                </td>
            </tr>
        </tbody>
    </script>
    <script type="text/x-template" id="v-accordion-grid-template">
        <table class="accordion-grid">
            <thead>
                <tr>
                    <th class="pointer lv"
                        @click="sortBy('lv')"
                        :class="{ active: sortKey==='lv' }">
                        Lv
                        <span class="arrow"
                              :class="sortOrders['lv'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="pointer version"
                        @click="sortBy('version')"
                        :class="{ active: sortKey==='version' }">
                        Ver
                        <span class="arrow"
                              :class="sortOrders['version'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="pointer"
                        @click="sortBy('genre')"
                        :class="{ active: sortKey==='genre' }">
                        Title
                        <span class="arrow"
                              :class="sortOrders['genre'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="pointer center rate"
                        title="no good & bad"
                        @click="sortBy('pf_rate')"
                        :class="{ active: sortKey==='pf_rate' }">
                        Perfect
                        <span class="arrow"
                              :class="sortOrders['pf_rate'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="pointer center rate"
                        title="no bad"
                        @click="sortBy('fc_rate')"
                        :class="{ active: sortKey==='fc_rate' }">
                        Full<br/>Combo
                        <span class="arrow"
                              :class="sortOrders['fc_rate'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="pointer center rate"
                        @click="sortBy('clear_rate')"
                        :class="{ active: sortKey==='clear_rate' }">
                        Clear
                        <span class="arrow"
                              :class="sortOrders['clear_rate'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="pointer center rate"
                        @click="sortBy('max')"
                        :class="{ active: sortKey==='max' }">
                        Top<br/>Score
                        <span class="arrow"
                              :class="sortOrders['max'] > 0 ? 'asc' : 'desc'">
                        </span>
                    </th>
                    <th class="icon"></th>
                </tr>
            </thead>
            <tbody is="v-accordion-grid-tbody"
                   v-for="item in sortedItems"
                   :key="`item_${item.id}`"
                   :item="item">
            </tbody>
            <tfoot>
                <td colspan='8' class="right">
                    最終更新日:2021/01/08 00:05:47
                </td>
            </tfoot>
        </table>
    </script>
</head>
<body>
    <div id="app" class="app-center">
        <table>
            <tr>
                <td>Lv</td>
                <td><button type="button" v-on:click ="getData(42)">42</button></td>
                <td><button type="button" v-on:click ="getData(43)">43</button></td>
                <td><button type="button" v-on:click ="getData(44)">44</button></td>
                <td><button type="button" v-on:click ="getData(45)">45</button></td>
                <td><button type="button" v-on:click ="getData(46)">46</button></td>
                <td><button type="button" v-on:click ="getData(47)">47</button></td>
                <td><button type="button" v-on:click ="getData(48)">48</button></td>
                <td><button type="button" v-on:click ="getData(49)">49</button></td>
                <td><button type="button" v-on:click ="getData(50)">50</button></td>
            </tr>
        </table>
        <v-accordion-grid :items="gridItems"
                          :columns="gridColumns">
        </v-accordion-grid>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src=".\index.min.js"></script>
</body>
</html>