<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rate</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="./anim.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">

    <script type="text/x-template" id="v-accordion-grid-tbody-template">
        <tbody>
            <tr @click='toggle()'>
                <td class='left'>{{ item.lv }}</td>
                <td class='left'>{{ item.version }}</td>
                <td class='left'>
                    {{ item.genre }}
                    <span class='UPPER' v-if='item.isUPPER'>(UPPER)</span>
                    <span :class='item.difficulty'>({{ item.difficulty }})</span>
                </td>
                <td class='right rate'>{{ item.pf_rate }}%</td>
                <td class='right rate'>{{ item.fc_rate }}%</td>
                <td class='right rate'>{{ item.clear_rate }}%</td>
                <td :class="{'-active': isOpened}">
                    <span class="icon">
                        <span class="icon__line"></span>
                        <span class="icon__line"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan='7'
                    class='no-padding'>
                    <transition name="js-accordion"
                                @before-enter="beforeEnter"
                                @enter="enter"
                                @before-leave="beforeLeave"
                                @leave="leave">
                        <div v-if='isOpened'
                             class='js-accordion--target'>
                            <canvas :id="`canvas_${item.id}`"></canvas>
                        </div>
                    </transition>        
                </td>
            </tr>
        </tbody>
    </script>
    <script type="text/x-template" id="v-accordion-grid-template">
        <table class="app-table">
            <thead>
                <tr>
                    <th class="lv">
                        Lv
                        <i class="fa fa-sort"></i>
                    </th>
                    <th class="version">
                        Ver
                        <i class="fa fa-sort"></i>
                    </th>
                    <th>
                        Title
                        <i class="fa fa-sort"></i>
                    </th>
                    <th class="center rate" title="no good & bad">
                        Perfect
                        <i class="fa fa-sort"></i>
                    </th>
                    <th class="center rate" title="no bad">
                        Full<br/>Combo<i class="fa fa-sort"></i>
                    </th>
                    <th class="center rate">
                        Clear
                        <i class="fa fa-sort"></i>
                    </th>
                    <th class="icon"></th>
                </tr>
            </thead>
            <tbody is="v-accordion-grid-tbody"
                v-for="item in items"
                :key="`item_${item.id}`"
                :item="item">
            </tbody>
            <tfoot>
                <td colspan='7' class="right">
                    最終更新日:2021/01/08 00:05:47
                </td>
            </tfoot>
        </table>
    </script>
</head>
<body>
    <div id="app" class="app-center">
        <v-accordion-grid :items="gridItems"></v-accordion-grid>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src=".\src\data_new.js"></script>
    <script src=".\index_new.js"></script>
</body>
</html>