<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rate</title>

    <link rel="icon" href="./src/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./src/apple-touch-icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css">
    <link rel="stylesheet" href="./style.css">

    <script type="text/x-template" id="v-accordion-grid-tbody-template">
        <tbody>
            <tr class="pointer"
                @click='toggle()'>
                <td class='center'>{{ item.version }}</td>
                <td class='left'>
                    {{ item.genre ?? item.song }}
                    <span class='UPPER' v-if='item.isUPPER'>(UPPER)</span>
                    <span :class='item.difficulty'>({{ item.difficulty }})</span>
                </td>
                <td class='right rate percent'>{{ item.pf_rate }}</td>
                <td class='right rate percent'>{{ item.fc_rate }}</td>
                <td class='right rate percent'>{{ item.clear_rate }}</td>
                <td class='right rate'>{{ item.max }}</td>
                <td class='center'>{{ item.max }}</td>
                <td>
                    <span :class="['icon', {'active': isOpened}]">
                        <span class="icon-line"></span>
                        <span class="icon-line"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan='8'
                    class='no-padding'>
                    <transition name="js-accordion"
                                @before-enter="beforeEnter"
                                @enter="enter"
                                @before-leave="beforeLeave"
                                @leave="leave">
                        <div v-if='isOpened'
                             class='js-accordion-target'>
                            <canvas :id="`canvas-pie-${item.id}`"></canvas>
                            <canvas :id="`canvas-line-${item.id}`"></canvas>
                        </div>
                    </transition>        
                </td>
            </tr>
        </tbody>
    </script>
    <script type="text/x-template" id="v-accordion-grid-template">
        <table class="accordion-grid">
            <thead>
                <tr>
                    <th @click="sortBy('version')"
                        :class="['indicator',
                                 sortOrders['version'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='version'}]">
                        Ver
                    </th>
                    <th @click="sortBy('genre')"
                        :class="['indicator',
                                 sortOrders['genre'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='genre'}]">
                        Title
                    </th>
                    <th title="no bad & no good"
                        @click="sortBy('pf_rate')"
                        :class="['indicator',
                                 'center',
                                 'rate',
                                 sortOrders['pf_rate'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='pf_rate'}]">
                        Perfect
                    </th>
                    <th title="no bad"
                        @click="sortBy('fc_rate')"
                        :class="['indicator',
                                 'center',
                                 'rate',
                                 sortOrders['fc_rate'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='fc_rate'}]">
                        Full<br/>Combo
                    </th>
                    <th @click="sortBy('clear_rate')"
                        :class="['indicator',
                                 'center',
                                 'rate',
                                 sortOrders['clear_rate'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='clear_rate'}]">
                        Clear
                    </th>
                    <th @click="sortBy('max')"
                        :class="['indicator',
                                 'center',
                                 'rate',
                                 sortOrders['max'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='max'}]">
                        Top<br/>Score
                    </th>
                    <th @click="sortBy('max')"
                        :class="['indicator',
                                 'center',
                                 sortOrders['max'] > 0 ? 'asc' : 'desc',
                                 {active: sortKey==='max'}]">
                        Top<br/>Medal
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody is="v-accordion-grid-tbody"
                   v-for="item in sortedItems"
                   :key="`item_${item.id}`"
                   :item="item">
            </tbody>
            <tfoot>
                <td colspan='8' class="right">
                    最終更新日:2021/01/08 00:05:47
                </td>
            </tfoot>
        </table>
    </script>
</head>
<body>
    <div id="app" class="app-center">
        <table>
            <tr>
                <th>Lv</th>
                <td @click ="getData(42)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===42}]">
                    42
                </td>
                <td @click ="getData(43)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===43}]">
                    43
                </td>
                <td @click ="getData(44)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===44}]">
                    44
                </td>
                <td @click ="getData(45)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===45}]">
                    45
                </td>
                <td @click ="getData(46)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===46}]">
                    46
                </td>
                <td @click ="getData(47)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===47}]">
                    47
                </td>
                <td @click ="getData(48)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===48}]">
                    48
                </td>
                <td @click ="getData(49)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===49}]">
                    49
                </td>
                <td @click ="getData(50)"
                    :class="['dataSrc-selector',
                             {active: dataSrcKey===50}]">
                    50
                </td>
            </tr>
        </table>
        <v-accordion-grid :items="gridItems"
                          :columns="gridColumns">
        </v-accordion-grid>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src=".\index.js"></script>
</body>
</html>