body {
    background-color: #252830;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.icon {
    position: relative;
    display: block;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.8em;
}
.icon__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #CFD2DA;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: transform 300ms ease;
}
.icon__line:nth-child(1) {
    transform: rotate(90deg);
}
.-active .icon__line:nth-child(1) {
    transform: rotate(0);
}
.-active .icon__line:nth-child(2) {
    transform: rotate(-180deg);
}

.js-accordion--target {
    overflow: hidden;
    transition: height 300ms ease-in-out;
}
/* 透過アニメーション(不要なのでコメントアウト)
.js-accordion-enter-active {
    animation-duration: 100ms;
    animation-fill-mode: both;
    animation-name: js-accordion--anime__opened;
}
.js-accordion-leave-active {
    animation-duration: 100s;
    animation-fill-mode: both;
    animation-name: js-accordion--anime__closed;
}
@keyframes js-accordion--anime__opened {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes js-accordion--anime__closed {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

.app-table {
    table-layout: fixed;
    border-width: 0px;
    border-color: #434857;
    border-style: solid;
    border-collapse: collapse;
}
thead {
    font-weight: bold;
    color: #CFD2DA;
}
tbody {
    border-width: 1px 0px;
    border-color: #434857;
    border-style: solid;
    color: #CFD2DA;
}
th {
    white-space: nowrap;
    padding: 8px;
}
tfoot {
    color: #CFD2DA;
}
td {
    padding: 8px;
}
.no-padding {
    padding: 0px;
}
td.rate {
    color: #21EFEF;
}

canvas {
    padding-top: 8px;
    padding-bottom: 8px;
}

.UPPER {
    color: #DAB300;
}
.EX {
    color: #FBA8C1;
}
.HYPER {
    color: #EFEF51;
}
.NORMAL {
    color: #21EFEF;
}

.app-center {
    margin: 0 auto;
    width: 768px; /*1100px; 950px; 768px;*/
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
